[Desktop Entry]
Encoding=UTF-8
Name=live usb
Comment= Make a persistent live usb device.
Exec=gksu antix2usb.py
Icon=drive-removable-media-usb
Terminal=false
Type=Application
Categories=Utility;
NoDisplay=True
